@import './base.css';

.container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;

}

body {

  background-color: var(--barvaPozadi-jedna);

}



h1 {

  text-align: center;
  color: aquamarine;
  margin: auto;
  padding: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h2 {
  text-align: center;
  color: rgb(8, 104, 72);
  margin: auto;
  padding: 1rem;
}
p {
  text-align: center;
  color: rgb(93, 129, 27);
  margin: auto;
  padding: 1rem;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.karta{
  margin: 0.5rem 1.5rem;
  padding: 1rem;
  background-color: rgb(32, 2, 2) ;
  border-style: double;
  border-radius: 25%;
  position: relative; /* Nutný pro transformaci */
  transform: translateX(-100%); /* Posun na levou stranu */
  animation: slideIn 3s forwards; /* Animace pro vjezd zleva */
}

hr {
 
  margin: 1rem 30rem;

}
.kartaDve {
  margin: 0.5rem 1.5rem;
  padding: 1rem;
  background-color: rgb(32, 2, 2) ;
  border-style: double;
  border-radius: 25%;

  /*width: 200px; /* např. šířka kartyDve */ 
  /*height: 100px; /* např. výška kartyDve */
  /*background-color: lightcoral;
  /*margin: 10px; */

  position: relative; /* Nutný pro transformaci */
  transform: translateX(+100%); /* Posun na levou stranu */
  animation: slideIn 3s forwards; /* Animace pro vjezd zleva */
}
.kartaTri {
  margin: 0.5rem 1.5rem;
  padding: 1rem;
  background-color: rgb(32, 2, 2) ;
  border-style: double;
  border-radius: 25%;
  position: relative; /* Nutný pro transformaci */
  transform: translateX(+100%); /* Posun na levou stranu */
  animation: slideIn 3s forwards; /* Animace pro vjezd zleva */
}

@keyframes slideIn {
  to {
    transform: translateX(0);
  }
}

